POSTGRES_DB=vademecum
POSTGRES_USER=vademecum
POSTGRES_PASSWORD=vademecum_local
POSTGRES_PORT=5432
DATABASE_URL=postgresql://vademecum:vademecum_local@localhost:5432/vademecum
DATABASE_SCHEMA=vademecum
DATABASE_SSL_MODE=disable
# DATABASE_CA_CERT="-----BEGIN CERTIFICATE-----\\n...\\n-----END CERTIFICATE-----"
SESSION_SECRET=replace-with-at-least-32-random-bytes
PLANALTO_ALLOWED_HOSTS=www.planalto.gov.br,www4.planalto.gov.br
